@font-face {

    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf);
}

body {

    display: flex;
    background-color: black;
    margin-left: 13vw;
    margin-right: 7vw;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-right: 4rem;

}

label {
    font-family: 'Courier New', Courier, monospace;
    color: #2b333f;
    font-size: small;
    font-weight: 550;
}

input {
    border: 1px solid #E5E7EB;
    line-height: 1.5rem;
    width: 13vw ;
    border-radius: 5px;
}


input:focus {
    outline: rgb(31, 101, 194) 1px solid ;
    box-shadow: 2px 2px 5px rgb(11, 66, 138);
}


.left-panel p {
 
    width: calc(35% - 10vw);
    position: absolute;
    bottom: 0 ;
    text-align: center;
    color: whitesmoke;
    opacity: 0.9;

}

.left-panel {
    width: 35%;
    height: 100vh;
    background-image: url(images/plant.jpg);
    background-position-x: -3vw;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-title, .main-title h1 {

    margin-top: 22vh;
    height: 15vh ;
    background-color: rgb(0, 0, 0, 0.5);
    font-weight:900;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-family: 'Norse Bold';
}

.main-title img {
    height: 90% ;
}



.right-panel {
    background-color: rgb(249, 250, 251) ;
    height: 100vh;
    width: 46vw;
    display: flex;
    flex-direction: column;
    
}

.form-container {

    background-color: white;
    height: 30vh;
    box-shadow: 1px 1px 10px #bdbdbd;
    margin: 2rem 0 ;

}

.forms {
    padding-bottom: 3rem;
}

.form-container p {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}


.dummy-text, .form-container, .bottom-right-panel  {
    padding: 0 3rem;
}

.dummy-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight:500;
    margin-right: 4vw;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 28vh;
}

.dummy-text p {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.bottom-right-panel {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: 2rem;
height: auto;
justify-self: center;
}

.create-button {
    background-color: #596d48;
    border: none;
    color: white;
    font-weight: bold;
    height: 3rem;
    width: 14rem;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

.log-in {
    text-decoration: none;
    color: #596d48;
    font-weight: bold;
}


.name, .contact, .password {
    display: flex;
}


.bottom-right-panel p {
    font-size: 1.2rem;
}

.valid {
border-color: green;
}

.invalid {
border-color: rgba(179, 11, 11, 0.781);    
}

.password p {
    color: rgba(179, 11, 11, 0.781);
    font-size: 0.8rem;  
    margin-top: 0.2rem;
    font-weight: 400;
    font-style: italic;
}

.error {
    visibility: hidden;
}